
<div class="" style="float: left;"><img src=".\images\home-nozzle.png?3" height="15" width="25"><div class="label-suffix2" style="width: 105px;">°C</div></div>
<div class="" style="float: right; padding: 0px 65px 0px 0px;"><img src=".\images\home-bed.png?3" height="15" width="19"><div class="label-suffix2" style="width: 80px;">°C</div></div>
