<div class="header">
    <div class="title">
        &nbsp;
    </div>
</div>
<div class="body">
    <div class="message-box-buttons">
        <div class="button @Model.CssClass shadow-normal">@Model.GetCultureText("Ok")</div>
    </div>
</div>
